* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f1a34;
    color: #fff;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo-image {
    max-width: 200px;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yellow-bar {
    background-color: #fdd835;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.yellow-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30%; 
}

.yellow-bar ul li a {
    color: #0f1a34;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.category {
    margin: 40px 20px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Configuración para las películas */
.movie-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-list.large .movie {
    width: 200px;
    height: 300px;
}

.movie-list.small .movie {
    width: 150px;
    height: 225px;
}

.movie img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background-color: #fdd835;
    padding: 40px 20px;
    text-align: center;
    color: #0f1a34;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
}

.footer-column p {
    font-size: 14px;
    color: #0f1a34;
    margin: 0;
    cursor: default;
}


.footer-column p:hover {
    color: #333; /* Efecto de oscurecimiento al pasar el ratón */
}
